<template name="signInModal">
  {{#ionModal title="Sign In"}}
    <div class="sign-in-modal">
<!--       {{#autoForm collection="Database" id="sign-in-form" type="insert"}}
  {{> afQuickField name="email"}}
  {{> afQuickField name="password"}}
  <p>test</p>
{{/autoForm}} -->
      {{#ionItem}}
      <input type="text">email

      {{/ionItem}}
      {{#ionItem}}
      <input type="text">password

      {{/ionItem}}
      {{#ionItem}}
      <input type="text">college
      
      {{/ionItem}}

    </div>
  {{/ionModal}}
</template>
