<template name="signInModal">
  {{#ionModal title="Sign In"}}
    <div class="sign-in-modal">
      <h3 style="text-align:center">Please sign in to perform this action</h3>
      {{#ionItem}}
        <input type="text" id="email" placeholder="Email">
      {{/ionItem}}
      {{#ionItem}}
        <input type="password" id="password" placeholder="Password">
      {{/ionItem}}

      {{#if creatingAccount}}
        {{#ionItem}}
        <!-- Would be nice to have some kind of validation -->
        <input type="number" id="phone" placeholder="Phone Number">
        {{/ionItem}}
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Favorite Dining Hall
            </div>
            <select name="" id="favorite">
              <option value="cmc">CMC</option>
              <option value="frary">Frary</option>
              <option value="frank">Frank</option>
              <option value="oldenborg">Oldenborg</option>
              <option value="mudd">Mudd</option>
              <option value="scripps">Scripps</option>
              <option value="pitzer">Pitzer</option>
            </select>
          </label>
        </div>
      {{/if}}
      <div style="text-align:center;margin-top:1rem;">
        <button class="button" id="login-button">Login</button>
        <button class="button" id="create-account-button">Create Account</button>
      </div>

    </div>
  {{/ionModal}}
</template>
