<template name="notifications">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Notifications</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if notifications}}
        {{#ionList}}
          {{#each notifications}}
            {{> _notificationItem notification=this}}
          {{/each}}
        {{/ionList}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-bell"}}
          No notifications yet!
        </div>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>
