@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.select-college-modal {
  text-decoration: none;
  color: #666666;
}

.user-email {

}

.empty-view {
  color: #ccc;
  text-align: center;
  padding-top: 25vh;

  i {
    display: block;
    margin: 0 auto 12px auto;
    font-size: 60px;
  }
}

/* .starred {
  &:hover {

  }
} */

.bar-subheader {
  margin-bottom: 43px;
}

.card-positive {
  font-size: 1.7em;
  color: white;
  background: #4A86EE;
}
.card-calm {
  font-size: 1.7em;
  color: white;
  background: #42CEE6;
}
.card-balanced {
  font-size: 1.7em;
  color: white;
  background: #66CC32;
}
.card-energized {
  font-size: 1.7em;
  color: white;
  background: #F0B840;
}
.card-assertive {
  font-size: 1.7em;
  color: white;
  background: #EF4E39;
}
.card-royal {
  font-size: 1.7em;
  color: white;
  background: #8A6DE9;
}
.card-dark {
  font-size: 1.7em;
  color: white;
  background: #444444;
}
