<template name="_defaultCollege">
  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Default Dining Hall
      </div>
      <select id="new-default-college">
        <option value="cmc" selected="{{selectCMC}}">CMC</option>
        <option value="mudd" selected="{{selectMudd}}">Mudd</option>
        <option value="scripps" selected="{{selectScripps}}">Scripps</option>
        <option value="frank" selected="{{selectFrank}}">Frank</option>
        <option value="pitzer" selected="{{selectPitzer}}">Pitzer</option>
        <option value="frary" selected="{{selectFrary}}">Frary</option>
        <option value="oldenborg" selected="{{selectOldenborg}}">Oldenborg</option>
      </select>
    </label>

  </div>
</template>
