<template name="_defaultCollege">
  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Default Dining Hall
      </div>
      <select id="new-default-college">
        <option value="cmc" selected>CMC</option>
        <option value="mudd">Mudd</option>
        <option value="scripps">Scripps</option>
        <option value="frank">Frank</option>
        <option value="pitzer">Pitzer</option>
        <option value="frary">Frary</option>
        <option value="oldenborg">Oldenborg</option>
      </select>
    </label>

  </div>
</template>
