<template name="settings">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Settings</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <h3 style="text-align:center;padding:1rem;">Account</h3>

      {{#if currentUser}}
        <div class="item item-button-right">
            <span class="user-email">{{userEmail}}</span>
            <button class="button" id="logout-button">Logout</button>
        </div>
      {{else}}

        <div class="item item-button-right">
          <span>You are not logged in</span>
          <button class="button" id="login-create-button">Login/Create</button>
        </div>
        <!-- <div>
          <button class="button" id="change-password-button">Change Password</button>
          <button class="button" id="recover-password-button">Recover Password</button>
        </div> -->

      {{/if}}

      {{#if currentUser}}
        <ul class="list">
          <!-- <li class="item item-toggle">
            Push Notifications
            <label class="toggle toggle-assertive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li> -->
          <li class="item item-toggle">
            Text Notifications
            <label class="toggle toggle-assertive">
              <input type="checkbox" id="text-notifications">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>
      {{/if}}

      {{#if currentUser}}
        <h3 style="text-align:center;padding:1rem;">Remove Notification</h3>
        {{#ionList}}
          {{#each notifications}}
            {{> _removeNotificationItem removeNote=this}}
          {{/each}}
        {{/ionList}}
      {{/if}}


      {{#if currentUser}}
        <h3 style="text-align:center;padding:1rem;">Set Default College</h3>
        {{> _defaultCollege}}
      {{/if}}

      <div style="height:3rem;"></div>


    {{/ionContent}}
  {{/ionView}}
</template>
