<template name="settings">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Settings</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <h3 style="text-align:center;padding:1rem;">Account</h3>

      {{#if currentUser}}
        {{#ionItem}}
        <div>
          <span class="user-email">{{userEmail}}</span>
          <button class="button" id="logout-button">Logout</button>
        </div>
        {{/ionItem}}
      {{/if}}


        <h3 style="text-align:center;padding:1rem;">Remove Notification</h3>

      {{#ionList}}
        {{#each notifications}}
          {{> _removeNotificationItem removeNote=this}}
        {{/each}}
      {{/ionList}}

      <h3 style="text-align:center;padding:1rem;">Set Default College</h3>

      {{> _defaultCollege}}


    {{/ionContent}}
  {{/ionView}}
</template>
