<template name="_home">

<!-- {{#with college}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">test{{this}}{{college}}</h1>
  {{/contentFor}}
{{/with}} -->

  {{#contentFor "headerTitle"}}
    <h1 class="title">Menu</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <button id="toggle-left-button" class="button button-clear" data-action="">
      {{>ionIcon icon="chevron-left"}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="toggle-right-button" class="button button-clear pull-right">
      {{>ionIcon icon="chevron-right" }}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionList}}


            <div class="item">
              <div class="bar bar-header {{themedBar}}">
                <h1 style="margin-top:-7px;" class="title" id="college-name">{{college}}</h1>
                <span style="margin-top:-11px;" class="badge badge-stable">{{score}}</span>
              </div>
            </div>

<!-- I should really be using these... -->
<!--             <div class="item item-divider">
  Candy Bars
</div> -->

        {{#if isTrue breakfast}}
          {{#ionItem}}
            <div class="bar bar-header bar-dark">
              <h1 style="margin-top:-7px;" class="title">Breakfast</h1>
            </div>
          {{/ionItem}}

          {{#each sorted breakfast}}
            {{> _menuItem menuItem=this}}
          {{/each}}
        {{/if}}

        {{#if isTrue brunch}}
          {{#ionItem}}
          <div class="bar bar-header bar-dark">
            <h1 style="margin-top:-7px;" class="title">Brunch</h1>
          </div>
          {{/ionItem}}

          {{#each sorted brunch}}
            {{> _menuItem menuItem=this}}
          {{/each}}
        {{/if}}

        {{#if isTrue lunch}}
          {{#ionItem}}
          <div class="bar bar-header bar-dark">
            <h1 style="margin-top:-7px;" class="title">Lunch</h1>
          </div>
          {{/ionItem}}

          {{#each sorted lunch}}
            {{> _menuItem menuItem=this}}
          {{/each}}
        {{/if}}

        {{#if isTrue dinner}}
          {{#ionItem}}
          <div class="bar bar-header bar-dark">
            <h1 style="margin-top:-7px;" class="title">Dinner</h1>
          </div>
          {{/ionItem}}

          {{#each sorted dinner}}
            {{> _menuItem menuItem=this}}
          {{/each}}
        {{/if}}

        {{#if isEmpty college}}
          <div class="bar bar-header bar-dark">
            <h1 style="margin-top:-7px;" class="title">No Data</h1>
          </div>
        {{/if}}

      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}


</template>
