<template name="home">
<!-- {{#with college}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">test{{this}}{{college}}</h1>
  {{/contentFor}}
{{/with}} -->

  {{#contentFor "headerTitle"}}
    <h1 class="title">Menu</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <button id="toggle-left-button" class="button button-clear">
      {{>ionIcon icon="chevron-left"}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="toggle-right-button" class="button button-clear pull-right">
      {{>ionIcon icon="chevron-right" }}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#with college}}
        <h3 style="text-align:center;">CMC</h3>
      {{/with}}

      {{#ionList}}

        <h3 style="text-align:center;padding:1rem;">Breakfast</h3>
        {{#each sorted breakfast}}
          {{> _menuItem menuItem=this}}
        {{/each}}

        <h3 style="text-align:center;padding:1rem;">Lunch</h3>
        {{#each sorted lunch}}
          {{> _menuItem menuItem=this}}
        {{/each}}

        <h3 style="text-align:center;padding:1rem;">Dinner</h3>
        {{#each sorted dinner}}
          {{> _menuItem menuItem=this}}
        {{/each}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}


</template>
