<template name="_home">
<!-- {{#with college}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">test{{this}}{{college}}</h1>
  {{/contentFor}}
{{/with}} -->

  {{#contentFor "headerTitle"}}
    <h1 class="title">Menu</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    <button id="toggle-left-button" class="button button-clear">
      {{>ionIcon icon="chevron-left"}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="toggle-right-button" class="button button-clear pull-right">
      {{>ionIcon icon="chevron-right" }}
    </button>
  {{/contentFor}}

<!--   {{#each college}}
<div class="bar bar-subheader bar-assertive">
  <h2 class="title">{{this}}</h2>
</div>
{{/each}} -->

  {{#ionView}}
    {{#ionContent}}


      {{#ionList}}

        {{#ionItem}}
          <div class="bar bar-header bar-dark">
            <h1 style="transform:translateY(-7px)" class="title">Breakfast</h1>
          </div>
        {{/ionItem}}
        {{#each sorted breakfast}}
          {{> _menuItem menuItem=this}}
        {{/each}}

        {{#ionItem}}
        <div class="bar bar-header bar-dark">
          <h1 style="transform:translateY(-7px)" class="title">Lunch</h1>
        </div>
        {{/ionItem}}
        {{#each sorted lunch}}
          {{> _menuItem menuItem=this}}
        {{/each}}

        {{#ionItem}}
        <div class="bar bar-header bar-dark">
          <h1 style="transform:translateY(-7px)" class="title">Dinner</h1>
        </div>
        {{/ionItem}}
        {{#each sorted dinner}}
          {{> _menuItem menuItem=this}}
        {{/each}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}


</template>
