<template name="_menuItem">
  {{#with menuItem}} <!-- This instantiates the instance with the word "menuItem" as the variable passed through -->
      <div class="item item-button-left item-icon-right">
        <button class="button">
          {{#if upvotes}}
            {{> ionIcon icon="arrow-up-c" }}
            {{upvotes.length}}&nbsp;&nbsp;&nbsp;
          {{else}}
            {{> ionIcon icon="arrow-up-c" }}
            0&nbsp;&nbsp;&nbsp;
          {{/if}}
        </button>
        <span class="menu-item">{{itemName}}</span>
        <i class="icon {{checkStarred _id currentUser.profile.starred}} starred"></i>
      </div>
<!--       <button class="button">
  {{> ionIcon icon="ios-star-outline"}}
</button> -->
  {{/with}}
</template>
