<template name="landing">
  {{#contentFor "headerTitle"}}
  <h1 class="title">Menu</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}

  <div class="empty-view">
    {{> ionIcon icon="ios-bolt"}}
    No menu selected!
  </div>

  {{/ionContent}}
  {{/ionView}}
</template>

<template name="cmc">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>

<template name="mudd">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>

<template name="scripps">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>

<template name="pitzer">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>

<template name="frary">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>

<template name="frank">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>

<template name="oldenborg">
  {{#with breakfast lunch dinner}}
    {{> _home breakfast=breakfast lunch=lunch dinner=dinner college=college}}
  {{/with}}
</template>
